<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<p>
  <strong>Period:</strong>
  <%= @report.period_id %>
</p>

<p>
  <strong>Current committees rocks:</strong>
  <%= @report.current_committees_rocks %>
</p>

<p>
  <strong>Future committees rocks:</strong>
  <%= @report.future_committees_rocks %>
</p>

<p>
  <strong>Current internal support:</strong>
  <%= @report.current_internal_support %>
</p>

<p>
  <strong>Future internal support:</strong>
  <%= @report.future_internal_support %>
</p>

<p>
  <strong>Current projects:</strong>
  <%= @report.current_projects %>
</p>

<p>
  <strong>Future projects:</strong>
  <%= @report.future_projects %>
</p>

<p>
  <strong>Current other:</strong>
  <%= @report.current_other %>
</p>

<p>
  <strong>Future other:</strong>
  <%= @report.future_other %>
</p>

<p>
  <strong>Pto:</strong>
  <%= @report.pto %>
</p>

<p>
  <strong>Pvt:</strong>
  <%= @report.pvt %>
</p>

<p>
  <strong>Ooo:</strong>
  <%= @report.ooo %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
